<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtx.admin.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.jtx.admin.pojo.Order" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="coupons_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="reservation_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="discount_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="practical_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="payment_method" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="payment_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="orderListMap" type="com.jtx.admin.vo.OrderListDto">
    <constructor>
      <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="coupons_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="practical_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="techni_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reservation_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, item_id, coupons_id, reservation_id, total_price, discount_price, practical_price, 
    payment_method, payment_time, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wash_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wash_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jtx.admin.pojo.Order" >
    insert into wash_order (id, user_id, item_id, 
      coupons_id, reservation_id, total_price, 
      discount_price, practical_price, payment_method, 
      payment_time, status, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{itemId,jdbcType=BIGINT}, 
      #{couponsId,jdbcType=BIGINT}, #{reservationId,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, 
      #{discountPrice,jdbcType=DECIMAL}, #{practicalPrice,jdbcType=DECIMAL}, #{paymentMethod,jdbcType=INTEGER}, 
      #{paymentTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jtx.admin.pojo.Order" >
    insert into wash_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="couponsId != null" >
        coupons_id,
      </if>
      <if test="reservationId != null" >
        reservation_id,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="practicalPrice != null" >
        practical_price,
      </if>
      <if test="paymentMethod != null" >
        payment_method,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="couponsId != null" >
        #{couponsId,jdbcType=BIGINT},
      </if>
      <if test="reservationId != null" >
        #{reservationId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="practicalPrice != null" >
        #{practicalPrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jtx.admin.pojo.Order" >
    update wash_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="couponsId != null" >
        coupons_id = #{couponsId,jdbcType=BIGINT},
      </if>
      <if test="reservationId != null" >
        reservation_id = #{reservationId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="practicalPrice != null" >
        practical_price = #{practicalPrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null" >
        payment_method = #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jtx.admin.pojo.Order" >
    update wash_order
    set user_id = #{userId,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      coupons_id = #{couponsId,jdbcType=BIGINT},
      reservation_id = #{reservationId,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      practical_price = #{practicalPrice,jdbcType=DECIMAL},
      payment_method = #{paymentMethod,jdbcType=INTEGER},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectOrderList" resultMap="orderListMap" parameterType="map">
    select o.id,o.user_id,o.item_id,o.coupons_id,o.practical_price,o.status,o.create_time,d.techni_id,d.address,d.reservation_time
     from wash_order o LEFT JOIN wash_order_detail d on o.id=d.order_id

    <trim prefix="WHERE" prefixOverrides="and">
      <if test="itemId != null">
        and o.item_id = #{itemId}
      </if>
      <if test="status != null">
        and o.status = #{status}
      </if>
      <if test="techniId != null">
        and d.techni_id = #{techniId}
      </if>
      <if test="userId != null">
        and o.user_id = #{userId}
      </if>
      <if test="createTimeBegin != null">
        and o.create_time > #{createTimeBegin}
      </if>
      <if test="createTimeEnd != null">
        and o.create_time &lt; #{createTimeEnd}
      </if>
      <if test="reservationTimeBegin != null">
        and d.reservation_time > #{reservationTimeBegin}
      </if>
      <if test="reservationTimeEnd != null">
        and d.reservation_time &lt; #{reservationTimeEnd}
      </if>
    </trim>
    <if test="sortField.size() > 0">
      <foreach collection="orderFiled" index="index" item="item" open="ORDER BY" separator=",">
        ${item}
      </foreach>
    </if>
  </select>
</mapper>