<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtx.admin.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jtx.admin.pojo.OrderDetail" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="car" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="techni_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="platform_trade_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reservation_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="close_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, car, techni_id, address, longitude, latitude, contact, platform_trade_no, 
    reservation_time, close_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wash_order_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wash_order_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jtx.admin.pojo.OrderDetail" >
    insert into wash_order_detail (id, order_id, car, 
      techni_id, address, longitude, 
      latitude, contact, platform_trade_no, 
      reservation_time, close_time, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{car,jdbcType=VARCHAR}, 
      #{techniId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{platformTradeNo,jdbcType=VARCHAR}, 
      #{reservationTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jtx.admin.pojo.OrderDetail" >
    insert into wash_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="car != null" >
        car,
      </if>
      <if test="techniId != null" >
        techni_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="platformTradeNo != null" >
        platform_trade_no,
      </if>
      <if test="reservationTime != null" >
        reservation_time,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="car != null" >
        #{car,jdbcType=VARCHAR},
      </if>
      <if test="techniId != null" >
        #{techniId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="platformTradeNo != null" >
        #{platformTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="reservationTime != null" >
        #{reservationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jtx.admin.pojo.OrderDetail" >
    update wash_order_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="car != null" >
        car = #{car,jdbcType=VARCHAR},
      </if>
      <if test="techniId != null" >
        techni_id = #{techniId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="platformTradeNo != null" >
        platform_trade_no = #{platformTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="reservationTime != null" >
        reservation_time = #{reservationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jtx.admin.pojo.OrderDetail" >
    update wash_order_detail
    set order_id = #{orderId,jdbcType=VARCHAR},
      car = #{car,jdbcType=VARCHAR},
      techni_id = #{techniId,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      platform_trade_no = #{platformTradeNo,jdbcType=VARCHAR},
      reservation_time = #{reservationTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>